h1 {
    font-family: georgia;
}

.logo1::first-letter {
    font-size: 120%;
}

.pagalbinis {
    color: grey;
    font-family: Georgia;
}

.konteineris {
    border-top: 3px solid #81b300;
}

.dezute {

}

li {
    display: inline;
}