body {
  font-family: 'Open Sans', sans-serif; }

.header-menu {
  padding: 15px 0px 15px 60px; }

.header-menu ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 10px; }

.header-menu ul li {
  display: inline;
  font-size: 16px; }

.header-menu ul li a {
  float: left;
  padding: 40px 7px;
  color: black; }

.header-menu ul li a:hover {
  color: #d3297f; }

.header-menu ul li a:hover {
  text-decoration: none; }

.button-wrappers {
  float: left;
  margin-top: 40px; }

.button-wrappers a, .button-wrappers-footer a {
  color: white;
  border-radius: 5px;
  background-color: #d3297f;
  width: 100px;
  font-size: 14px;
  text-decoration: none;
  padding: 8px 10px; }

.button-wrappers-footer {
  float: left;
  margin-top: 10px; }

.first {
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 16px; }

.wgt-text {
  width: 60%; }

.foto1 img {
  margin-bottom: 100px;
  width: 100%;
  height: auto; }

.text-wrapper {
  font-size: 14px;
  float: left;
  padding-right: 100px;
  margin-bottom: 50px; }

.ment-wrapper {
  text-align: center;
  margin-bottom: 80px; }

.ment {
  padding: 20px; }

.ment-ft {
  width: 150px;
  height: 250px;
  float: left;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 40px; }
  .ment-ft p {
    font-size: 14px;
    text-align: center; }

.ment-ft img {
  width: 150px; }

.slider {
  text-align: center;
  padding-top: 20px; }

.h-it-w {
  text-align: center;
  padding-bottom: 80px;
  padding-top: 60px; }

.how-it-works {
  text-align: left;
  margin-bottom: 80px; }

.background-cover {
  background-image: url("karpyti-failai/pink_bg.png");
  background-size: 100% 100%;
  padding: 150px; }
  .background-cover h3 {
    color: white;
    text-align: left;
    padding-top: 20px; }
  .background-cover p {
    color: white;
    font-size: 14px; }

.november {
  width: 30%;
  height: 370px; }
  .november h4 p {
    text-align: left; }

.december {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap; }

.team {
  text-align: left;
  margin-bottom: 30px; }

.team-text {
  padding-top: 10px;
  padding-bottom: 60px; }

.name {
  text-align: center;
  margin-top: 10px; }

.blue-img {
  margin-right: 40px; }

h3 .team {
  padding: 0; }

.team-wrapper {
  padding: 60px; }

.pagalbinis, .pagalbinis2 {
  display: inline-block;
  text-align: center; }

.ft-tm {
  width: 15%;
  height: 250px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  float: left; }
  .ft-tm img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .ft-tm p {
    text-align: center;
    font-size: 14px; }

.team-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 0;
  padding: 0; }

.pagalbinis2 {
  padding-top: 40px; }

.sponsors {
  text-align: center;
  padding: 50px; }

.sp-logo {
  padding-bottom: 80px;
  height: auto;
  text-align: center; }

.sponsors-logo {
  max-width: 200px;
  max-height: 100px;
  padding: 15px; }

.today h3 {
  margin-bottom: 16px; }

.today p {
  font-size: 24px;
  color: #aeadb2;
  padding-bottom: 20px; }

.form-wrapper {
  color: #aeadb2; }

.form-wrapper input {
  border-bottom: 2px solid #98989a;
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none; }

.form-wrapper input:hover {
  outline: none; }

.footer-wrapper {
  background-color: #26254f;
  margin-top: 100px;
  position: relative; }

.footer-menu {
  padding: 15px 25px; }

.footer-menu ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 10px; }

.footer-menu ul li {
  display: inline;
  font-size: 16px; }

.footer-menu ul li a {
  float: left;
  padding: 40px 7px;
  color: #9492ba; }

.footer-menu ul li a:hover {
  text-decoration: none; }

.footer-icon {
  margin-top: 40px;
  padding: 5px; }

.footer-contact p {
  color: #cccbeb;
  padding-top: 30px;
  font-size: 14px; }

.icon-wrapper {
  position: absolute;
  top: 10px;
  right: 0px; }

.tech {
  padding-top: 20px;
  border-top: 4px groove #323159; }

.women-go {
  color: #9492ba;
  font-size: 14px;
  float: left; }

.design {
  color: #9492ba;
  font-size: 14px;
  float: right;
  padding: 0px 0px 0px 20px;
  color: #f6f6ff; }

.design a {
  color: #f6f6ff;
  text-decoration: 2px solid #f6f6ff; }

/*# sourceMappingURL=stylescss.css.map */
